<footer class="footer-main">
            <div class="footer-inner">
                <p>Made with &hearts; by <a href="https://www.linkedin.com/in/krumkuzmov/">Krum Kuzmov</a></p>
            </div>
            <i class="fa fa-heart"></i>
</footer>