<header class="masthead mb-auto">
            <div class="inner">
               <a href=".#/home"><img id="icon" src='../images/glass_fork.png' alt="knife and fork"></a>
               <a href=".#/home"> <h3 class="masthead-brand">CooKuz</h3></a>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="#/home">Home</a>
                    {{#if isLoggedIn}}
                    <div class="recipesDropdown">
                    <a class="nav-link" href="#/recipes">Recipes &#x21E9;</a>
                    <ul class="dropdown">
                    <li><a href="#/vegetables-recipes">Veggie</a></li>
                    <li><a href="#/grain-recipes">Grain</a></li>
                    <li><a href="#/fruits-recipes">Fruits</a></li>
                    <li><a href="#/milk-recipes">Milk</a></li>
                    <li><a href="#/meats-recipes">Meats</a></li>
                    <li><a href="#/fish-recipes">Fish</a></li>
                    </ul>
                    </div>
                    <a class="nav-link" href="#/create">Share recipe</a>
                    <a class="nav-link" href="#/logout">Logout</a>
                    {{else}}
                    <a class="nav-link" href="#/login">Login</a>
                    <a class="nav-link" href="#/register">Register</a>
                    {{/if}}
                </nav>
            </div>
</header>

<div id="notifications">
            <div id="successBox" class="alert alert-success" role="alert">{Success Message...}</div>
            <div id="loadingBox" class="alert alert-info" role="alert">Loading...</div>
            <div id="errorBox" class="alert alert-danger" role="alert">{Error Message...}</div>
</div>