<header class="header-main">
    <div class="header-inner">
            <a href=".#/home"><img id="icon" src="../../images/CooKuz-logo-1.png" alt="knife and fork"></a>
            <nav class="style-4">
		          <ul class="navigation-in-header">
		              <li class=""><a href="#/home" data-hover="Home">Home</a></li>
                  {{#if isLoggedIn}}
                  <li><a class="nav-link recipes-in-nav" href="#/recipes" data-hover="Recipes">Recipes</a></li>
		              <li><a href="#/create" data-hover="Share recipe">Share recipe</a></li>
		              <li><a href="#/logout" data-hover="Logout">Logout</a></li>
                  {{else}}
		              <li><a href="#/login" data-hover="Login">Login</a></li>
		              <li><a href="#/register" data-hover="Register">Register</a></li>
                  {{/if}}
		          </ul>
	        </nav>
    </div>
</header>

<div id="notifications">
    <div id="successBox" class="alert alert-success">{Success Message...}</div>
    <div id="loadingBox" class="alert alert-info">Loading...</div>
    <div id="errorBox" class="alert alert-danger">{Error Message...}</div>
</div>