<h1 id="random-recipe-name" onload=loadRandomRecipe()>{{name}}</h1>
<img src={{foodImageURL}} alt="recipe image" class="recipe-image-preview">
<a href={{href}} class="random-recipe-button">Go to details..</a>