<h1 id="random-recipe-name" onload=loadRandomRecipe()>RANDOM RECIPE TESTING</h1>

<script>
  function loadRandomRecipe(){
    document.getElementById('random-recipe-name').innerHTML = '';
    firebase.firestore().collection('func').get()
        .then(res => {
          let recipes = res.docs.map(recipe => recipe = {...recipe.data(), id: recipe.id});
          let randomRecipe = recipes[0]
          let randomRecipeDiv = document.getElementById('random-recipe-name');
          let randomRecipeHTML = document.createElement('div');
          let rrMeal = document.createElement('p');
          rrMeal.textContent = randomRecipe.meal;
          randomRecipeHTML.appendChild(rrMeal)
          randomRecipeDiv.appendChild(randomRecipeHTML)
          randomRecipeDiv.setAttribute('style', 'display: block')
        })
  }
</script>