<h1 id="random-recipe-name" onload=loadRandomRecipe()>{{name}}</h1>
<h2 id="random-recipe-name" onload=loadRandomRecipe() class="goldStars">{{stars}}</h2>
<h3 id="random-recipe-name" onload=loadRandomRecipe()>{{creator}}</h3>
