{{> header}}

<h1 class="categories">Categories</h1>

<div class="allCategories">
    <div class="meal-category">
        <span>Vegetables</span>
        <a href="#/vegetables-recipes"><img src="https://www.thespruceeats.com/thmb/ZnWDXm0VjfY2wy25ocFqZccy5YY=/2164x1217/smart/filters:no_upscale()/freshvegetablesAlexRaths-4c1ea186a88e4fd7b95283eee614600c.jpg" class="vegetableImg"></a>
    </div>
    <div class="meal-category">
        <span>Grain Food</span>
        <a href="#/grain-recipes"><img src="https://smartstepcompany.com/images/grain-market-pic1.jpg" class="grainImg"></a>
    </div>
    <div class="meal-category">
        <span >Fruits</span>
        <a href="#/fruits-recipes"><img src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/2020-7/fruit-still-life-1296x728-header.jpg?w=1155&h=1528" class="fruitsImg"></a>
    </div>
    <div class="meal-category">
        <span>Milk products</span>
        <a href="#/milk-recipes"><img src="https://www.safefood.net/getmedia/a306ab56-669a-4c80-9b84-4ea52ef87b11/Dairy.jpg?width=2000&height=1333&ext=.jpg" class="milkImg"></a>
    </div>
    <div class="meal-category">
        <span>Meats and poultry</span>
        <a href="#/meats-recipes"><img src="https://i0.wp.com/www.eatthis.com/wp-content/uploads/2019/09/paleo-meat-array.jpg?resize=640%2C360&ssl=1" class="meatsImg"></a>
    </div>
    <div class="meal-category">
        <span>Fish</span>
        <a href="#/fish-recipes"><img src="https://previews.123rf.com/images/remains/remains1805/remains180500093/102367180-fish-dish-with-lemons-and-greenery-on-a-white-plate-on-wooden-table-with-glasses-of-wine-for-couple-.jpg" class="fishImg"></a>
    </div>
</div>
{{>footer}}