html, body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/garlic-head-on-a-wooden-rustic-table-picjumbo-com.jpg');
  background-attachment: fixed;
  background-size:unset;
  font-family: 'Neucha', cursive;
  font-size: 1.1em;
  /* background-color:#ffe6005b;
  background-blend-mode:darken; */
}
body {
  display: flex;
  justify-content: center;
  color: white;
  background-color: red;
}
.header-inner{
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-size: 30px;
  /* background-color: #4b532056; */
  justify-content: space-between;
}
.header-inner a{
  text-decoration: none;
}
.header-inner a:visited{
  color: white;
}
.nav-link{
  margin-right: 10px;
}
.header-logo{
  display: flex;
  align-items: center;
}
.header-logo img{
  margin-right: 10px;
  max-width: 150px;
}
.cover-container {
  max-width: 45em;
}
.categories{
  background-color: #4b532088;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 600;
  margin: 30px auto;
}
.meal-category {
  display: inline-block;
  border-radius: 5px;
  background-color: #4b5320de;
  width: 300px;
  text-align: center;
  margin: 6px;
}

.meal-category img{
  width: 300px;
  height: 180px;
  padding: 10px 10px;
}
.singleRecipe{
  background-color: #4b532088;
  text-align: center;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 600;
  margin: 30px auto;
  display: inline-block;
}
.small-img-in-all-dishes{
  width: 160px;
  height: 120px;
  margin: 10px auto;
}
.singleRecipe {
  display: inline-block;
  border-radius: 5px;
  background-color: #4b5320de;  
  width: 260px;
  height: auto;
  text-align: center;
  margin: 1em 1em;
  font-size: 25px;
  font-weight: 300;
}
.singleRecipe:hover {
  display: inline-block;
  border-radius: 5px;
  background-color: #4b5320de;  
  width: 260px;
  height: auto;
  text-align: center;
  margin: 1em 1em;
  font-size: 25px;
  font-weight: 300;
}
.singleRecipe img{
  border-radius: 5px;
  opacity: 0.5;
}
.singleRecipe img:hover{
  border-radius: 5px;
  opacity: 1;
}
.all-recipes-from-category{
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

.recipesDropdown ul{
  display: none;
  margin-top: 0.3em;
  border-radius: 5px;
  text-decoration: none;
  /* горното под въпрос */
}
.dropdown a:hover{
  text-decoration: none;
  /* горното под въпрос */
}
.recipesDropdown ul li:hover{
  background-color: rgba(245, 245, 245, 0.158);
  cursor: pointer;
  text-decoration: none;
}
.recipesDropdown ul li{
  width: 100%;
  text-align: center;
  border: 0.1px solid whitesmoke;
  border-radius: 5px;
  margin: 4px 0px;
  padding: 1px;
  background-color: rgba(29, 83, 22, 0.219);
}
.recipesDropdown:hover .dropdown{
  display: block;
  border-radius: 10px;
  list-style-type: none; 
  padding: 1px;
}
.lead{
  font-family: 'Parisienne', cursive;
  font-size: 1.5em;
  margin: 15px auto;
  text-align: center;
}
.ABName {
  text-align: center;
}
.allCategories{
  text-align: center;
}
.btn-change-pic{
  display: inline-block;
  text-align: center;
  width: auto;
  margin: 0px auto;
}
.articles-home-page{
  display: inline-block;
  width: 100%;
  margin: 60px auto;
  padding: 30px;
  text-align: center;
}
.single-article-home-page{
  border: 1px solid #4b5320de;
  background-color: rgba(112, 128, 144, 0.199);
  border-radius: 5px;
  padding: 10px;
  margin: 20px 10px;
  width: 25%;
  display: inline-block;
}
.single-article-home-page:hover{
  border: 1px solid whitesmoke;
  cursor: pointer;
}
.h3-home-page{
  text-align: center;
  margin: 5px auto;
}
.navigation-in-header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 500;
}
.navigation-in-header * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navigation-in-header li {
  list-style: outside none none;
  margin: 0 1.5em;
  font-size: 20px;
  overflow: hidden;
}
.navigation-in-header a {
  padding: 0.3em 0;
  color: #212121;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.navigation-in-header a:before,
.navigation-in-header a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navigation-in-header a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.navigation-in-header a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: #212121;
  white-space: nowrap;
}
.navigation-in-header li:hover a,
.navigation-in-header .current a {
  transform: translateY(100%);
}
/* .recipes-in-nav:hover .dropdown{
  display: block;
} */