{{> header}}
    <div class="home-page">
      {{#if isLoggedIn}}
      <h1 class="homepage-main-heading">Welcome, {{user}}</h1>
      <section class="random-recipe">
          <h2 class="random-recipe-heading">What would you like to eat today?</h2>
          <form action="POST" class="form-homepage-search">
              <input type="text" placeholder="Enter ingredients" class="search-input">
              <input type="submit" class="form-button" value="Search">
          </form>
          <h2 class="random-recipe-heading">or...</h2>
          <h2 class="random-recipe-heading">I would like to see a random recipe</h2>
          <button class="form-button">Give it a try</button>
      </section>
      {{!-- <div class="articles-home-page">
        <h4 class="single-article-home-page">Article one</h4>
        <h4 class="single-article-home-page">Article two</h4>
        <h4 class="single-article-home-page">Article three</h4>
      </div> --}}
      {{else}}
      <h1 class="homepage-main-heading">Welcome to CooKuz!</h1>
      {{!-- <section class="random-recipe">
      <h2 class="random-recipe-heading">Would you like to try a random recipe??</h2>
      <button class="random-recipe-button">Give me one</button>
      </section> --}}
      <h3 class="homepage-smaller-heading"><br> Discover new recipes made by other culinary masterminds and share your own creations.<br>Let your hedonistic imagination bring life to nutritous marvels that will vitalize your body and make your mind blossom with satisfaction and delight.</h3>
      {{/if}}
    </div>
{{> footer}}