{{> header}}
    <div class="home-page">
      <h1 class="homepage-main-heading">Welcome to CooKuz!</h1>
      <h3 class="home-page-smaller-heading">A project driven by two of my passions - coding and cooking.<br> Discover new recipes made by other culinary masterminds and add your own dishes.<br>Let your imagination create new masterpieces and your mind will blossom with energy and satisfaction.</h3>
      {{#if isLoggedIn}}
      <div class="articles-home-page">
        <h4 class="single-article-home-page">Article one</h4>
        <h4 class="single-article-home-page">Article two</h4>
        <h4 class="single-article-home-page">Article three</h4>
      </div>
      {{/if}}
    </div>
{{> footer}}