{{> header}}
    <div class="home-page">
      {{#if isLoggedIn}}
      <h1 class="homepage-main-heading">Welcome, {{user}}</h1>

      {{!-- RANDOM RECIPE --}}
      <section class="random-recipe">
          <h2 class="random-recipe-heading">Would you like to see a random recipe?</h2>
          <button class="form-button" onclick=loadRandomRecipe()>Give it a try</button>
          <div id="random-recipe-result" style="display: none;"></div>
      </section>
      {{!-- RANDOM RECIPE END --}}
      {{else}}
      <h1 class="homepage-main-heading">Welcome to CooKuz!</h1>
      <h3 class="homepage-smaller-heading"><br> Discover new recipes made by other culinary masterminds and share your own creations.<br>Let your hedonistic imagination bring life to nutritous marvels that will vitalize your body and make your mind blossom with satisfaction and delight.</h3>
      {{/if}}
    </div>
{{> footer}}
<script>
  function loadRandomRecipe(){
    document.getElementById('random-recipe-result').innerHTML = '';
    document.getElementsByClassName('homepage-main-heading')[0].innerHTML = '';
    firebase.firestore().collection('func').get()
        .then(res => {
          let recipes = res.docs.map(recipe => recipe = {...recipe.data(), id: recipe.id});
          const randomRecipe = recipes[Math.floor(Math.random() * recipes.length)];
          let randomRecipeDiv = document.getElementById('random-recipe-result');
          let whiteStars = randomRecipe.whiteStars || '';
          randomRecipeDiv.innerHTML = `{{> randomRecipe name="${randomRecipe.meal}" stars="${randomRecipe.stars}" whiteStars="${whiteStars}" foodImageURL="${randomRecipe.foodImageURL}"}}`;
          randomRecipeDiv.style.display = 'flex'
        })
  }
</script>
{{!-- <h2 class="random-recipe-heading">What would you like to eat today?</h2> --}}
          {{!-- <form method="POST" action="#/search" class="form-homepage-search">
              <input type="text" placeholder="Enter ingredients" class="search-input" name="searchQuery">
              <input type="submit" class="form-button" value="Search">
          </form> --}}
          {{!-- <h2 class="random-recipe-heading">or...</h2> --}}