  {{> header}}
          <form class="form-login-register" action="#/login" method="POST">
            <p class="form-login-register-heading">Login</p>
            <label for="username">Username</label>
            <input type="text" id="defaultRegisterFormUsername" name="username" class="form-login-register-input" >
            <label for="username">Password</label>
            <input type="password" id="defaultRegisterFormPassword" name="password" class="form-login-register-input">
            <hr>
            <button class="form-button" type="submit">Sign in</button>
             <section class="login-page-quote">
                 <p class="lead">"Your body is not a temple, it's an amusement park. Enjoy the ride."</p>
                 <p class="ABName">- Anthony Bourdain</p>
        </section>
        </form>
       
  {{> footer}}