  {{> header}}
<form class="form-login-register" action="#/register" method="POST">
    <p class="form-login-register-heading">Register</p>
    <label for="firstName">First name</label>
    <input type="text" id="defaultRegisterFormFirstName" class="form-login-register-input" name="firstName">
    <label for="lastName">Last name</label>
    <input type="text" id="defaultRegisterFormLastName" class="form-login-register-input" name="lastName">
    <label for="username">E-mail</label>
    <input type="text" id="defaultRegisterFormUsername" class="form-login-register-input mb-4" name="username">
    <label for="password">Password</label>
    <input type="password" id="defaultRegisterFormPassword" class="form-login-register-input" name="password">
    <label for="repeatPassword">Repeat Password</label>
    <input type="password" id="defaultRegisterRepeatPassword" class="form-login-register-input" name="repeatPassword">
    <button class="form-button" type="submit">Sign up</button>
    <section class="login-register-page-quote">
      <p class="lead">"Eating is the secret to good cooking."</p>
      <p class="cook-name">- Julia Child</p>
    </section>
</form>
  {{> footer}}