  {{> header}}
  <form class="form-register" action="#/register" method="POST">

            <p class="form-register-heading">Sign up</p>

            <div class="form-register-names-main">
                <div class="form-register-names">
                    <input type="text" id="defaultRegisterFormFirstName" class="form-register-input" name="firstName"
                        placeholder="First name">
                </div>
                <div class="col">

                    <input type="text" id="defaultRegisterFormLastName" class="form-register-input" name="lastName"
                        placeholder="Last name">
                </div>
            </div>

            <input type="text" id="defaultRegisterFormUsername" class="form-register-input mb-4" name="username"
                placeholder="Username">
            <input type="password" id="defaultRegisterFormPassword" class="form-register-input" name="password"
                placeholder="Password">
            <hr>
            <input type="password" id="defaultRegisterRepeatPassword" class="form-register-input" name="repeatPassword"
                placeholder="Repeat Password">
            <button class="form-register-button" type="submit">Sign up</button>

        </form>
  {{> footer}}